<% if @display_units.empty? %>
  <p class="px-4 py-3 text-sm text-[#888888]">No markets found</p>
<% else %>
  <% @display_units.each do |unit| %>
    <%= render Markets::MarketSearchRowComponent.new(market: unit[:market], total_volume: unit[:total_volume]) %>
  <% end %>
<% end %>
